<html>
<head>
    <title>JDash Uber Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <style>
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-img-top {
            width: 100%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }

        img {
            vertical-align: middle;
            border-style: none;
            display: block;
            width: 100%;
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        .card-title {
            margin-bottom: .75rem;
        }

        .green {
            color: #4caf50;
        }
    </style>
</head>
<body>
{{template "nav.tmpl.html"}}

<div class="container">
    <div class="row">
        <br/>
        <div class="card" style="width:250px;margin:auto">
            <img class="card-img-top" src="/static/img/uber.png" alt="Uber Logo"/>
            <div class="card-body">
                <h4 class="card-title">Uber Counter</h4>
                <p>Wonder how much you've spent on Uber and UberEATS?</p>
                <button id="submit" type="button" class="btn btn-danger">Make me feel bad</button>
            </div>
        </div>
        <div class="display" style="display:none">
            <br/>
            <h1 id="total-spent" class="text-center green" style="margin-bottom:0"></h1>
            <hr style="margin:5px"/>
            <h3 class="text-center" style="margin-top:0"><b>Total Amount Spent</b></h3>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th><h3 class="text-center">Uber</h3></th>
                    <th><h3 class="text-center">UberEATS</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><h4><b>Times Used</b></h4></td>
                    <td><h4 id="uber-count" class="text-center"></h4></td>
                    <td><h4 id="ubereats-count" class="text-center"></h4></td>
                </tr>
                <tr>
                    <td><h4><b>Spent</b></h4></td>
                    <td><h4 id="uber-spent" class="text-center green"></h4></td>
                    <td><h4 id="ubereats-spent" class="text-center green"></h4></td>
                </tr>
                <tr>
                    <td><h4><b>Average per Use</b></h4></td>
                    <td><h4 id="uber-average" class="text-center green"></h4></td>
                    <td><h4 id="ubereats-average" class="text-center green"></h4></td>
                </tr>
                </tbody>
            </table>
            <br/>
            <div id="uber-histogram"></div>
            <div id="ubereats-histogram"></div>
        </div>
    </div>
</div>

<script>
    function extractCode(url) {
        const params = url.substring(url.lastIndexOf('?') + 1, url.length - 1).split('&');
        for (const i in params) {
            const pair = params[i].split('=');
            if (pair[0] === 'code') {
                return pair[1];
            }
        }
        return null;
    }

    function handleAuth(url) {
        const win = window.open(url, "Authenticate Gmail");
        const check = setInterval(function () {
            if (!win || !win.closed) {
                return;
            }
            clearInterval(check);
            if (win.document) {
                submitToken(extractCode(win.document.URL));
            }
        }, 100);
    }

    function formatCents(cents) {
        return '$' + (cents / 100).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }

    function findMaxMin(values) {
        let min = undefined;
        let max = undefined;
        for (let i = 0; i < values.length; i++) {
            if (min === undefined || values[i] < min) {
                min = values[i];
            }
            if (max === undefined || values[i] > max) {
                max = values[i];
            }
        }
        return { min, max }
    }

    function handleResult(result) {
        console.log(result);
        $('.card').css('display', 'none');
        $('#total-spent').text(formatCents(result.totalSpent));
        $('#uber-spent').text(formatCents(result.uberSpent));
        $('#ubereats-spent').text(formatCents(result.uberEatsSpent));
        $('#uber-count').text(result.uberCount);
        $('#ubereats-count').text(result.uberEatsCount);
        $('#uber-average').text(formatCents(result.uberSpent / result.uberCount));
        $('#ubereats-average').text(formatCents(result.uberEatsSpent / result.uberEatsCount));
        $('.display').css('display', 'block');
        histogram('#uber-histogram', result.uberValues);
    }

    function submitToken(token) {
        $.ajax({
            url: '/ubercounter/perform?code=' + token,
            success: handleResult,
            error: function (err) {
                toastr.warning(err);
            }
        })
    }

    $(function () {
        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $.ajax({
                url: '/gmailAuthenticate',
                success: handleAuth,
                error: function (err) {
                    toastr.warning(err);
                }
            });
        });
    });

    function histogram(selector, values) {
        const maxMin = findMaxMin(values);
        if (maxMin.min === undefined || maxMin.max === undefined) {
            return;
        }
        const formatCount = d3.format(',.0f');
        const margin = {top: 10, right: 30, bottom: 30, left: 30},
                width = 500 - margin.left - margin.right,
                height = 250 - margin.top - margin.bottom;
        console.log(maxMin);
        const x = d3.scale.linear()
                .domain([maxMin.min, maxMin.max])
                .range([0, width]);
        const data = d3.layout.histogram()
                .bins(x.ticks(20))
                (values);
        data.forEach(function (d, i) {
            if (i === 0) {
                d.cum = d.y
            } else {
                d.cum = d.y + data[i - 1].cum
            }
        });
        const y = d3.scale.linear()
                .domain([0, d3.max(data, function (d) {
                    return d.y;
                })])
                .range([height, 0]);
        const yc = d3.scale.linear()
                .domain([0, d3.max(data, function (d) {
                    return d.cum;
                })])
                .range([height, 0]);
        const xAxis = d3.svg.axis()
                .scale(x)
                .orient('bottom');
        const line = d3.svg.line()
                .x(function (d) {
                    return x(d.x);
                })
                .y(function (d) {
                    return yc(d.cum);
                });
        const svg = d3.select(selector).append('svg')
                .attr('width', width + margin.left + margin.right)
                .attr('height', height + margin.top + margin.bottom)
                .append('g')
                .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        const bar = svg.selectAll('.bar')
                .data(data)
                .enter().append('g')
                .attr('class', 'bar')
                .attr('transform', function (d) {
                    return 'translate(' + x(d.x) + ',' + y(d.y) + ')';
                });
        bar.append('rect')
                .attr('x', 1)
                .attr('width', x(data[0].dx) - 1)
                .attr('height', function (d) {
                    return height - y(d.y);
                });
        bar.append('text')
                .attr('dy', '.75em')
                .attr('y', 6)
                .attr('x', x(data[0].dx) / 2)
                .attr('text-anchor', 'middle')
                .text(function (d) {
                    return formatCount(d.y);
                });
        svg.append('path')
                .datum(data)
                .attr('class', 'line')
                .attr('d', line);
        svg.append('g')
                .attr('class', 'x axis')
                .attr('transform', 'translate(0,' + height + ')')
                .call(xAxis);
    }
</script>
</body>
</html>
